@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
     
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #e65c35;
}

body,
html {
    color: #6b6662;
}

h1,
h2 {
    color: #2e2c2b;
}
@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    .print\:hidden {
        display: none !important;
    }
}
