@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e65c35;
}

body,
html {
  color: #6b6662;
}

h1,
h2 {
  color: #2e2c2b;
}
